<link rel="stylesheet" href="/css_files/footer.css">
<style>
  @media screen and (max-width: 600px){
    .headings{
      font-size: 13px !important;
    }
  }
</style>
<footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
            <p class="headings">&copy; 2023 Habit Maker. All rights reserved. devloped by <span style="color: blue;">Saurabh Dixit.</span></p>
        </div>
        <div class="column has-text-right" style="font-size: large;">
          <span style="color: black; font-family: Verdana;font-size: 20px;">Contact</span>
          <a style="text-decoration: none;"  href="https://github.com/Saurabhdixit93" target="_blank">
            <img src="https://img.icons8.com/3d-fluency/20/null/github.png" alt="">
          </a>
          <a style="text-decoration: none;"  href="https://linkedin.com/in/Saurabhdixit93" target="_blank">
            <img src="https://img.icons8.com/color/20/null/linkedin-2--v1.png" alt="">
          </a>
          <a style="text-decoration: none;"  href="mailto:smartds2550@gmail.com">
            <img src="https://img.icons8.com/3d-fluency/20/null/gmail.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </footer>