
<style>
  /* Center the form vertically and horizontally */
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Add a shadow to the form */
  form {
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Style the form inputs */
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  input:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-color: #80bdff;
  }
  
  .invalid-feedback {
    color: #dc3545;
    font-size: 0.875rem;
    display: none;
  }
  
  input:invalid + .invalid-feedback {
    display: block;
    margin-top: 0.25rem;
  }
  
  /* Style the submit button */
  button[type="submit"] {
    width: 200px;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  </style>
  <% if (message) { %>
    <div id="alert-message" class="alert alert-<%= message.type %>">
      <%= message.text %>
    </div>
  <% } %>
  <body>
    <section class="section" style="min-height: 90vh;">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="card" style="background-color: rgba(255, 255, 255, 0.2);border-radius: 20px;">
              <div class="card-content">
                <h1 class="title has-text-centered" style="color: rgb(2, 2, 2);">Password Reset</h1>
                <form action="/user/auth/forgot-password" method="post" class="needs-validation" novalidate style="background-color: transparent;">
                  <div class="form-group">
                    <label for="email" style="color: black;font-weight: bold;">Email Address</label>
                    <div class="input-group">
                      <input type="email" name="email" class="form-control" required>
                      <div class="invalid-feedback">
                        Please enter a valid email address.
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Send Reset Link</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="/script_files/validation.js"></script>
  <script>
    // Hide alert message after 10 seconds
    setTimeout(function() {
      document.getElementById('alert-message').style.display = 'none';
    }, 10000);
  </script>
  